<div class= 'home'>
<h1 class= 'header'>Match Game</h1>
<hr />
  <div class="row">
    <div class="col s3 box grid_box">
      <span class='number hide two'>2</span>
    </div>
    <div class="col s3 box grid_box one">
      <span class='number hide five'>5</span>
    </div>
    <div class="col s3 box grid_box two">
      <span class='number hide four'>4</span>
    </div>
    <div class="col s3 box grid_box two">
      <span class='number hide one'>1</span>
    </div>
  </div>
  <div class="row">
    <div class="col s3 box grid_box three">
      <span class='number hide three'>3</span>
    </div>
    <div class="col s3 box grid_box three">
      <span class='number hide six'>6</span>
    </div>
    <div class="col s3 box grid_box four">
      <span class='number hide four'>4</span>
    </div>
    <div class="col s3 box grid_box four">
      <span class='number hide five'>5</span>
    </div>
  </div>
  <div class="row ">
    <div class="col s3 box grid_box five">
      <span class='number hide three'>3</span>
    </div>
    <div class="col s3 box grid_box five">
      <span class='number hide six'>6</span>
    </div>
    <div class="col s3 box grid_box six">
      <span class='number hide two'>2</span>
    </div>
    <div class="col s3 box grid_box six">
      <span class='number hide one'>1</span>
    </div>
  </div>
</div>
